<br>
<small>Written on %{blog::datecrumbs}.</small> <br>
<table border=0 width="100%">%{cond::pageinblog}
<tr> <td width="50%" style="padding-right: 0.5em"> #{Overrides/blog/bits/prev.tmpl} </td>
     <td width="50%" style="padding-left: 0.5em; border-left: 1px dotted;"> #{Overrides/blog/bits/next.tmpl} </td> </tr>
</table>
