<!-- Bug: should be real CSS, not inline styles -->
<table border=0 width="100%"> <tr>
<td width="76%" align=left valign=top style="padding-right: 1.5em;"> 
	#{dwiki/standard.tmpl}
</td>
<td align=left valign=top width="24%" style="padding-left: 0.5em; border-left: 1px dotted;">
	#{Overrides/blog/sidebar.tmpl}
</td>
</tr> </table>
